@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Titan+One");
.App-header {
  background-color: #83aa3e;
  text-align: center;
  height: 80px;
  padding: 20px;
  color: black; }

.App-header h1 {
  font-size: 24px;
  font-family: 'Titan One', cursive; }

.App-title {
  margin-top: 0px;
  margin-bottom: 10px; }

.App-header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 250px;
  border: 2px solid black;
  border-radius: 4px; }
