@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Titan+One");
html {
  position: relative;
  min-height: 100%; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow: hidden; }

footer a {
  color: #95a5a6;
  font-size: 40px;
  text-decoration: none; }

footer a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #bdc3c7; }

.App-header {
  background-color: #83aa3e;
  text-align: center;
  height: 80px;
  padding: 20px;
  color: black; }

.App-header h1 {
  font-size: 24px;
  font-family: 'Titan One', cursive; }

.App-title {
  margin-top: 0px;
  margin-bottom: 10px; }

.App-header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 250px;
  border: 2px solid black;
  border-radius: 4px; }
