@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Titan+One');

$cucumber: #83aa3e;
$gunmetal-gray: #252525;
$light-gray: #95a5a6;
$milk-white: #bdc3c7;

$h1-font-size: 20px;
$h2-font-size: 16px;
$p-font-size: 14px;

html {
  position: relative;
  min-height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gunmetal-gray;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow:hidden;
}

footer a {
  color: $light-gray;
  font-size: 40px;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  text-decoration: none;
  color: $milk-white;
}

.App-header {
  background-color: $cucumber;
  text-align: center;
  height: 80px;
  padding: 20px;
  color: black;
}

.App-header h1 {
  font-size: 24px;
  font-family: 'Titan One', cursive;
}

.App-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.App-header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 250px;
  border: 2px solid black;
  border-radius: 4px;
}

.App-body {
  display: flex;
  justify-content: center;
  padding: 0 20px 30px 20px;
  font-family: 'Libre Franklin', sans-serif;
  h1 {
    font-size: $h1-font-size;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: $h2-font-size;
  }
  p {
    font-size: $p-font-size;
  }
}

.filler {
  max-width: 767px;
}

@media all and (max-width: 767px) {
  .App-body h1 {
    font-size: $h1-font-size * 0.8;
  }
}
